<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class = "food">
		<h1> my fav food is everything</h1>
		<p>all foods tastes good, cuz they simply do...and foods that tastes good are my favorite food !!</p>
	</div>
	<div class = "favorite">
	<p> My favorite foods : </p>
            <h2> foods </h2>
            <ul>
                {% for food in favoritefood %}
                <li> {{food}} </li>
                {% endfor %}
            </ul>
    {% if opposite_day == True %}
                <p> my favorite foods: </p> 
            {% else %}
                <p> I have no favorite food: </p>
            {% endif %}
    </div>
  			 <!-- Previous for-loop -->




</body>
</html>